body{
    background-color:rgb(199, 229, 233);
}
.image-parent {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: baseline;
    align-content: stretch;
}
    .image-child {
        flex: 1 1 0px; 
        border: 1px solid #999;
        border-radius: 5px;
        background-color: white;
        padding: 5px;
        margin: 5px;
        box-shadow: -1px 0px 6px -3px #000000;
    }
        .image-wraper {
            height: 200px;
            border-radius: 5px;
            overflow: hidden;
        }
        .article-title {
            text-align: center;
            text-transform: uppercase;
        }
        .article-description {
            color: #999;
        }
        .article-button {
            width: 100%;
            background-color: darkgreen;
            color: white;
            text-transform: uppercase;
            font-weight: bold;
            text-align: center;
            display: block;
            padding: 5px;
            box-sizing: border-box;
            border-radius: 5px;
        }
.button-meniu {
    background-color: darkgreen;
    border: none;
    color: white;            
    padding: 1px;
    text-align: center;
    height: min-content;
    align-items: center;
    box-sizing: border-box;
    border-radius: 5px;
    width: 180px;
    height: 30px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
     }
            .button-meniu:hover {
                background-color: rgb(2, 72, 2);
            
            }
                    .dropdown-content {
                        display: none;
                        position: fixed;
                        color: white;
                        width: 180px;
                        text-align: center;
                        
                    }
                    .dropdown {
                        position: relative;
                        display: inline-block;
                        align-items: center;
                    }
                    .dropdown-content a {
                        display: block;
                        color: rgb(242, 236, 236);
                        text-transform: uppercase;
                        text-decoration: none;
                    }
                    .dropdown-content a:hover {background-color: transparent;}
                    .dropdown:hover .dropdown-content {display: block;}
                    .dropdown:hover 
                    
        
.special-parent {
    border: 5px solid red;
}
img {
    width: 100%; /* or any custom size */
    height: 100%; 
    object-fit: cover;
}
.header {
    text-align: right;
    color: rgb(3, 56, 3);
}
.logo-meniu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: stretch;
    text-size-adjust: 10px;
}
#logo {
    width: 105px;
    height: 50px;
}
.a-link{
    color: white;
    text-decoration: none    
}
#panoramaimg{
    object-fit: fill;
}
#special-button{
    width: 300px;
}
#video {
    margin-top: -200px;
    width: 100%;
   }